nav {
  z-index: 6;
}

.nav-link {
  color: black !important;
}

div.filled, div.outline {
  position: fixed;
  width: 95%;
  height: 100%;
  max-width: 1000px;
  transform: translate(calc(50vw - 50%));
  z-index: 0;
  pointer-events: none !important;
  
  background-image: url(/images/kiss.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.outline {
  background-image: url(/images/kiss-outline.svg);
  z-index: 4 !important;
}

@keyframes marquee {
  0% {
      transform: translateX(0);
  }
  
  100% {
      transform: translateX(-60%);
  }
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 2;
}

.marquee span {
  display: inline-block;
  animation: marquee 360s linear infinite;
}

.pj-container{
  padding: 15px;
  margin-top: 90vh;
}

.projects .pj {
  position: relative;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin-bottom: 25vw;
  background-color: yellowgreen;
}

.pj img {
  mix-blend-mode: hue;
}

.pj-container .text {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 10px;
  text-align: center;
}

.pj span {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  height: 100%;
  top: 45vh;
  font-size: 16px !important;
}

.pj-container a {
  text-decoration: none;
  color: black;
  flex: 1;
}

.pj-container a:hover {
  color: black;
}

.pj1 { z-index: 3 !important; }
.pj2 { z-index: 1 !important; }
.pj3 { z-index: 7 !important; }
.pj4 { z-index: 3 !important;}
.pj5 { z-index: -1 !important; } 


@media (min-width: 1000px) {

  .pj-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-column-gap: 0vw;
      grid-row-gap: 10vh;
  }

  .pj-container div {
      position: relative;
      margin: auto !important;
  }

  .pj-container .portrait {
      width: 350px;
      height: auto;
  }
  .pj-container .landscape {
      width: 500px;
      height: auto;
  }

  .pj1 { grid-area: 1 / 1 / 3 / 2; z-index: 3 !important;}
  .pj2 { grid-area: 2 / 2 / 4 / 3; z-index: 1 !important;}
  .pj3 { grid-area: 4 / 1 / 5 / 3; z-index: 6 !important;}
  .pj4 { grid-area: 6 / 1 / 7 / 2; z-index: 3 !important;}
  .pj5 { grid-area: 5 / 2 / 7 / 3;  z-index: -1 !important;} 
}

.about .container-fluid {
  position: relative;
  background-color: rgb(255, 213, 0);
  width: 1000px;
  height: 2000px;
  z-index: 5;
}

