@font-face {
    font-family: myFirstFont;
    src: url(/src/font/Emmascript_MVB_Std_Regular.otf);
  }
  
  nav .navbar-brand {
      font-family: myFirstFont;
      font-size: 35px;
  }

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px; /* or 950px */
  }