* {
  position: relative;
  box-sizing: border-box;
}

body {
  background-color: rgb(249, 249, 249);
}

header .container-fluid {
  max-width: 1210px !important;
}

nav {
  z-index: 6;
  color: rgb(27, 27, 27) !important;
}

.nav-link {
  color: rgb(27, 27, 27) !important;
}

div.filled, div.outline {
  position: fixed;
  width: 95%;
  height: 100%;
  max-width: 1000px;
  transform: translate(calc(50vw - 50%));
  z-index: 0;
  pointer-events: none !important;
  
  background-image: url(/images/kiss.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.outline {
  background-image: url(/images/kiss-outline.svg);
  z-index: 4 !important;
}

@keyframes marquee {
  0% {
      transform: translateX(0);
  }
  
  100% {
      transform: translateX(-60%);
  }
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 2;
}

.marquee span {
  display: inline-block;
  animation: marquee 360s linear infinite;
  color: rgb(27, 27, 27);
}

.pj-container{
  padding: 15px;
  margin-top: 90vh;
}

.projects .pj {
  position: relative;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin-bottom: 25vw;
  background-color: rgba(255, 213, 0, 0.895);
}

.pj img {
  mix-blend-mode: hue;
}

.pj-container .text {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 10px;
  text-align: center;
}

.pj span {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  height: 100%;
  top: 45vh;
  font-size: 18px !important;
  color: rgb(27, 27, 27) !important;
}

.pj-container a {
  text-decoration: none;
  flex: 1;
}

.pj-container a:hover {
  color: rgb(27, 27, 27);
}

.pj1 { z-index: 3 !important; }
.pj2 { z-index: 1 !important; }
.pj3 { z-index: 7 !important; background-color: rgba(197, 235, 158, 0.768) !important;}
.pj4 { z-index: 3 !important;}
.pj5 { z-index: -1 !important; } 

@media (min-width: 1000px) {

  .pj-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7, 1fr);
      grid-column-gap: 0vw;
      grid-row-gap: 10vh;
  }

  .pj-container div {
      position: relative;
      margin: auto !important;
  }

  .pj-container .portrait {
      width: 420px;
      height: auto;
  }
  .pj-container .landscape {
      width: 570px;
      height: auto;
  }

  .pj1 { grid-area: 1 / 1 / 3 / 2; z-index: 3 !important;}
  .pj2 { grid-area: 2 / 2 / 4 / 3; z-index: 1 !important;}
  .pj3 { grid-area: 4 / 1 / 5 / 3; z-index: 6 !important;}
  .pj4 { grid-area: 6 / 1 / 7 / 2; z-index: 3 !important;}
  .pj5 { grid-area: 5 / 2 / 7 / 3;  z-index: -1 !important;} 

}


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.content.reveal {
  background-color: rgb(255, 213, 0);
  height: 100vh;
  position: sticky;
  position: -webkit-sticky;
  z-index: 5;
  padding-left: 2vw;
}

.reveal h1 {
  color: rgb(27, 27, 27)  !important;
  font-family: 'Helvetica';
  font-size: 8.5vw !important;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}

.col .star {
  position: absolute !important;
  content: '';
  width: 8.2vw;
  height: 8.2vw;
  animation: rotate 7s linear infinite;
  top: 7.8vw;
  left: 25.6vw;
}

.col .spin {
  text-align: center;
  line-height: 1.12;
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

section.wiper {
  background-color: rgb(249, 249, 249) ;
  z-index: 5;
  height: auto;
  
}

.wiper .col {
  width: 100%;
  max-width: 1210px;
  margin: auto;
  padding: 15vw 1.5vw 8vw 1.5vw;
}

.panel {
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
}

.wiper p {
  font-size: 3vw;
  padding-bottom: 6vw;
}

.wiper h1 {
  font-size: 2vw;
  margin-bottom: 2vw;
  font-weight: 600;
  font-style: italic;
}

.wiper .col a {
  font-size: 2.5vw;
  border: solid 0.1em rgb(27, 27, 27);
  border-radius: 100px;
  padding: 0px 2vw;
  text-decoration: none;
  color: rgb(27, 27, 27) !important;
  margin: 0 .5vw;
}

.wiper .col a:hover {
  background-color: rgb(27, 27, 27);
  color:  rgb(255, 213, 0) !important;
}

@media (min-width: 1450px) {

  section.content.reveal {
    background-color: rgb(255, 213, 0);
    position: sticky;
    position: -webkit-sticky;
    z-index: 5;
  }
  
  .reveal h1 {
    color: rgb(27, 27, 27)  !important;
    font-family: 'Helvetica';
    font-size: 6.5vw !important;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
    max-width: 1200px !important;
    margin: auto;
  
  }
  
  .col .star {
    position: absolute !important;
    content: '';
    width: 6.5vw;
    height: 6.5vw;
    animation: rotate 7s linear infinite;
    top: 5.77vw;
    left: 19.4vw;
  }
  
  .col .spin {
    text-align: center;
    line-height: 1.16;
  }
  
}

.marquee-2 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee-2 span {
  display: inline-block;
  animation: marquee 1000s linear infinite;
  color: rgb(27, 27, 27);
  font-size: 5vw;
  text-transform: uppercase;
}

.marquee-2 a {
  color: rgb(27, 27, 27);
  font-size: 5vw;
  text-decoration: none;
}

.marquee-2 a:hover {
  color: rgb(27, 27, 27);
}

.marquee-2 #mqEmail {
  display: inline-block;
  animation: marquee-rev 700s linear infinite;
  color: rgb(27, 27, 27);
  font-size: 4.9vw;
  text-transform: uppercase;
}



@keyframes marquee-rev {
  0% {
      transform: translateX(-60%);
  }
  
  100% {
      transform: translateX(0%);
  }
}

footer {
  width: 100%;
}

footer h1 {
  background-color: rgb(249, 249, 249);
  position: absolute;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25vw;
  font-style: italic;
  font-weight: 700;
  padding: 4vh 0 0 0;
  z-index: 6;
}

footer p {
  width: 99%;
  position: absolute;
  font-family: myFirstFont;
  font-size: 5.7vw;
  transform: rotate(-5deg);
  color: orange;
  z-index: 7;
  margin-top: 16vw;
}

.item-title {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin: 40vh auto;
  position: fixed;
}

.item-title h1 {
  width: 100%;
  font-size: 7vw;
  font-weight: 600;
}

.item-image {
  width: 100%;
  margin-top: 90vh;
  margin-bottom: 16vh;
}

.item-image .item {
  max-width: 95vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.next-item a {
  font-size: 2.5vw;
  border: solid 0.1em rgb(27, 27, 27);
  border-radius: 100px;
  padding: 1vh 10vw;
  text-decoration: none;
  color: rgb(27, 27, 27) !important;
  margin: 0 .5vw;
}


@media (min-width: 745px) {

  .item-image .item {
    max-width: 65vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
}