@font-face {
  font-family: myFirstFont;
  src: url(/src/font/Emmascript_MVB_Std_Regular.otf);
}

nav {
  color: blue !important;
}

nav .navbar-brand {
  font-family: myFirstFont;
  font-size: 35px;
  color: blue !important;
}

.nav-link {
  color: blue !important;
  }

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.one .col {
  background-color: blue;
  margin: 0 -12px !important;
}

.one .text {
  position: absolute;
  font-size: 15vw;
  font-weight: 700;
  opacity: 0;
  color: white;
}

.two .container-fluid {
  max-width: 1000px; /* or 950px */
}


