 @font-face {
  font-family: myFirstFont;
  src: url(/src/font/Emmascript_MVB_Std_Regular.otf);
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

nav {
  position: relative;
  z-index: 0;
}

nav .navbar-brand {
  font-family: myFirstFont;
  font-size: 35px;
}

.nav-link {
  color: black !important;
}

.kiss .container-fluid {
  max-width: 1000px;
  position: fixed;
  z-index: -2;
}


.kiss .marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.marquee-text {
  display: inline-block;
  line-height: 30px;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.project {
  position: relative;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  max-width: 1200px;
  }
  
  .div1 { grid-area: 7 / 1 / 11 / 5; }
  .div2 { grid-area: 9 / 8 / 12 / 13; }
  .div3 { grid-area: 1 / 1 / 5 / 5; }
  .div4 { grid-area: 2 / 9 / 7 / 13; } 

 
  .parent div {
    background-color: orange;
    margin: 100px 20px;
  }

  .parent .div1 {
    width: 200px;
    height: 300px;
    position: relative;
    z-index: -2;
  }

  .parent .div2 {
    position: relative;
    width: 300px;
    height: 200px;
    z-index: -3;
  }

  .parent .div3 {
    position: relative;
    z-index: 5;
  }

  .parent .div4 {
    width: 250px;
    height: 400px;
    position: relative;
    z-index: -3;
  }

